.welcome {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.content {
    text-align: center;
}

.image {
    height: 300px;
    width: 300px;
    border-radius: 90%;

}

.text {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: larger;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
}